.home {
  background: url(/src/img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: var(--martelSans);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  margin: 0px 25px !important;
}

.home h1 {
  color: var(--darkPurple);
  font-size: 2.5rem;
  margin: 0;
}

.lines {
  background: var(--darkPurple);
  width: 200px;
  height: 5px;
}

.second-h1 {
  font-family: var(--lato);
  font-weight: 300;
  letter-spacing: 5px;
  color: var(--darkPurple) !important;
}

@media (max-width: 500px) {
  .home {
    background: url(/src/img/background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    flex-direction: column;
    padding: 150px;
  }
  .title h1 {
    margin: 25px 0px !important;
  }

  .lines {
    width: 150px;
  }

  .second-h1 {
    display: none;
  }
}
